<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1091629470495-bojd6ud8nfu85ku7b0vkng1uam23isl1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1091629470495-bojd6ud8nfu85ku7b0vkng1uam23isl1</string>
	<key>API_KEY</key>
	<string>AIzaSyCng3RNPBy_fYh7Va1weGTLpUi18a5rlL0</string>
	<key>GCM_SENDER_ID</key>
	<string>1091629470495</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.emma.app</string>
	<key>PROJECT_ID</key>
	<string>emma-emma</string>
	<key>STORAGE_BUCKET</key>
	<string>emma-emma.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1091629470495:ios:ce512da39fa1deb98bd62a</string>
	<key>DATABASE_URL</key>
	<string>https://emma-emma.firebaseio.com</string>
</dict>
</plist>